body {
    margin: 0;
    padding: 0;
}

nav {
    min-height: 5vh;
    background-color: red;
    margin: 0;
}

nav ul {
    max-width: 50%;
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(nav_active) {
    background-color: white;
    color: red;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3rem;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
    background-color: #333;
}

#nav_active {
    background-color: white;
    color: red;
}

#black_line {
    background-color: black;
    height: 2px;
    width: 100%;
}

#grey_line {
    background-color: lightgrey;
    height: 2px;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 93.5vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}